*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.navBar{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content:space-between;
  /* position: fixed; */
}
.navBar img{
  width: 110px;
  margin-left: 80px;
  filter: brightness(0) invert(1) !important;
}
.pages{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 19px;
  color: white;
  margin-right: 50px;
}
.pages li{
list-style: none;
font-family: sans-serif;
}
.icons{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-right: 60px;
  font-size: 19px;
  color: white;
}
.swiper {
  width: 100%;
  height: 88%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.zbuds{
  width: 100%;
  position: relative;
}
.zbuds .heading{
  position: absolute;
  left: 10px;
}
.zbuds h2{
  left: 20px;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.zbuds span {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 600;
}
.zbuds .greater{
  font-size: 10px;
  font-weight:900;
}
.zbudProducts{
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
.zbudProducts .product1{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.product1 i{
  color: red;
  right: 0;
}
.product1 img{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
 }
 .product1 .name{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
 }
 .product1 .details{
  font-size: 12px;
  margin-left: 38px;
  font-weight: 100;
 }
 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
.product1 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .product1 .colorDivs .black{
  width: 18px;
  border: 2px solid red;
  height: 3vh;
  border-radius: 90px;
  background-color: black;
 }
 .product1 .colorDivs .green{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: green;
 }
 .product1 .colorDivs .grey{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: gray;
 }
.product1 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.product1 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
/* Prduct 2 starts here */
.product2{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;  
}
.product2 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.product2 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 14px;
}
.product2 .ratings{
  margin-right: 13px;
}
.product2 i{
  color: red;
  right: 0;
}
.product2 .trend p{
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: -12px;
}
.product2 img{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
 }
 .product2 .name{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
 }
 .product2 .details{
  font-size: 12px;
  margin-left: 38px;
  font-weight: 100;
 }
.product2 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
.product2 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .product2 .colorDivs .black{
  width: 18px;
  border: 2px solid red;
  height: 3vh;
  border-radius: 90px;
  background-color: black;
 }
 .product2 .colorDivs .green{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: green;
  border: 1px solid red;
 }
 .product2 .colorDivs .skyblue{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(99, 201, 241);
 }
 .product2 .colorDivs .maron{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(151, 53, 48);
 }
.product2 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.product2 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.product2 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.product2 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.product2 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.product2 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.product2 .btn{
  width: 43%;
  margin-left: 120px;
  margin-top: -90px;
  padding: 8px;
}
.product2 .btn button{
  padding: 8px;
  height: 10vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
/* Product 3 starts from here  */
.product3{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;  
}
.product3 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.product3 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 14px;
}
.product3 .ratings{
  margin-right: 13px;
}
.product3 i{
  color: red;
  right: 0;
}
.product3 .trend p{
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: -12px;
}
.product3 img{
  width: 220px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
 }
 .product3 .name{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
 }
 .product3 .details{
  font-size: 12px;
  margin-left: 20px;
  font-weight: 100;
 }
.product3 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
.product3 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .product3 .colorDivs .black{
  width: 18px;
  /* border: 2px solid red; */
  height: 3vh;
  border-radius: 90px;
  background-color: black;
 }
 .product3 .colorDivs .blue{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: blue;
  border: 2px solid red;
 }
 .product3 .colorDivs .grey{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(217, 223, 225);
 }
 .product3 .colorDivs .maron{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(151, 53, 48);
 }
.product3 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.product3 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.product3 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.product3 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.product3 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.product3 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.product3 .btn{
  width: 43%;
  margin-left: 120px;
  margin-top: -90px;
  padding: 8px;
}
.product3 .btn button{
  padding: 8px;
  height: 10vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 30px; 
  text-decoration: none;
}
/* 4th product starts from here  */

.product4{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;  
}
.product4 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.product4 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 14px;
}
.product4 .ratings{
  margin-right: 13px;
}
.product4 i{
  color: red;
  right: 0;
}
.product4 .trend p{
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: -12px;
}
.product4 img{
  width: 225.5px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .product4 .name{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
 }
 .product4 .details{
  font-size: 12px;
  margin-left: 20px;
  font-weight: 100;
 }
.product4 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
.product4 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .product4 .colorDivs .black{
  width: 18px;
  border: 2px solid red;
  height: 3vh;
  border-radius: 90px;
  background-color: black;
 }
 .product4 .colorDivs .green{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(54, 147, 54);
 }
 .product4 .colorDivs .lavendir{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(197, 151, 197);
 }
 .product4 .colorDivs .biscuity{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(222, 153, 106);
 }
.product4 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.product4 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.product4 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.product4 .orignalPrice h4{
  font-weight: 400;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: white;
  background-color: rgb(233, 41, 41);
  width: 70px;
  height: 3vh;
}
.product4 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.product4 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.product4 .btn{
  width: 43%;
  margin-left: 120px;
  margin-top: -90px;
  padding: 8px;
}
.product4 .btn button{
  padding: 8px;
  height: 10vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 30px; 
  text-decoration: none;
}
/* 5th product */
.product5{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;  
}
.product5 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.product5 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 14px;
}
.product5 .ratings{
  margin-right: 13px;
}
.product5 i{
  color: red;
  right: 0;
}
.product5 .trend p{
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: -12px;
}
.product5 img{
  width: 225.5px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .product5 .name{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
 }
 .product5 .details{
  font-size: 12px;
  margin-left: 20px;
  font-weight: 100;
 }
.product5 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
.product5 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .product5 .colorDivs .black{
  width: 18px;
  border: 2px solid red;
  height: 3vh;
  border-radius: 90px;
  background-color: black;
 }
 .product5 .colorDivs .grey{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: rgb(198, 186, 186);
 }
 .product5 .colorDivs .blue{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: blue;
 }
.product5 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.product5 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.product5 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.product5 .orignalPrice h4{
  font-weight: 400;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: grey;
  width: 70px;
  height: 3vh;
}
.product5 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.product5 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.product5 .btn{
  width: 43%;
  margin-left: 120px;
  margin-top: -90px;
  padding: 8px;
}
.product5 .btn button{
  padding: 8px;
  height: 10vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 30px; 
  text-decoration: none;
}

.smart-watches{
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}
.smart-watches .heading{
  position: absolute;
  left: 10px;
}
.smart-watches h2{
  left: 20px;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.smart-watches span {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 600;
}
.smart-watches .greater{
  font-size: 10px;
  font-weight:900;
}
.watches{
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
/*  Watches Product 1*/
.watches .product1{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.watches .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.watches .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.watches .product1 i{
  color: red;
  right: 0;
}
.watches .product1 img{
  width: 200px;
  height: 220px;
  margin-top: 35px;
  margin-bottom: 40px;
 }
 .watches  .product1 .name{
  font-size: 22px;
  margin-left: 12px;
  margin-bottom: 15px;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-decoration: none;
 }
 .watches  .product1 .details{
  font-size: 12.5px;
  margin-left: 20px;
  font-weight: 100;
 }
 .watches  .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
 .watches .product1 .colorDivs{
  width: 70%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .watches .product1 .colorDivs .firstOne{
  width: 20px;
  background: rgb(229,144,39);
  background: linear-gradient(90deg, rgba(229,144,39,1) 53%, rgba(79,14,130,0.7737219887955182) 53%);
  height: 3vh;
  border: 2px solid red;
  border-radius: 50%;
  rotate: 30deg;
 }
 .watches .product1 .colorDivs .black{
  background-color: black;
 }

 .watches  .product1 .colorDivs .brown{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background: linear-gradient(90deg, rgba(182,147,105,1) 53%, rgba(5, 5, 5, 0.774) 53%);
 }
 .watches  .product1 .colorDivs .grey{
  width: 18px;
  height: 3vh;
  border-radius: 90px;
  background-color: gray;
 }
 .watches .product1 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.watches .product1 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.watches .product1 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.watches .product1 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.watches .product1 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.watches .product1 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.watches .product1 .btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.watches .product1 .btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}


/* Watches Product 2 */
.watches .product2{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.watches .product2 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.watches .product2 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.watches .product2 i{
  color: red;
  right: 0;
}
.watches .product2 img{
  width: 200px;
  height: 230px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
 }
 .watches  .product2 .name{
  font-size: 22px;
  margin-left: 13px;
  margin-bottom: 15px;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-decoration: none;
 }
 .watches  .product2 .details{
  font-size: 12px;
  margin-left: 20px;
  font-weight: 100;
 }
 .watches .product2 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
 .watches .product2 .colorDivs{
  width: 70%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .watches .product2 .colorDivs .brown{
  width: 18px;
  background-color: rgb(188, 132, 80);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product2 .colorDivs .black{
  background-color: black;
  border: 2px solid red;
 }
 .watches .product2 .colorDivs .grey{
  width: 18px;
  background-color: rgb(170, 164, 159);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product2 .colorDivs .simpleblack{
  width: 18px;
  background-color: black;
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product2 .colorDivs .navyBlue{
  width: 18px;
  background-color: rgb(37, 53, 99);
  height: 3vh;
  border-radius: 50%;
 }
 
 
 .watches .product2 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.watches .product2 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.watches .product2 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.watches .product2 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.watches .product2 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.watches .product2 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.watches .product2 .btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.watches .product2 .btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
/* 3rd watches product */

.watches .product3{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.watches .product3 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.watches .product3 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.watches .product3 i{
  color: red;
  right: 0;
}
.watches .product3 img{
  width: 190px;
  height: 230px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 18px;
 }
 .watches  .product3 .name{
  font-size: 22px;
  margin-left: 13px;
  margin-bottom: 15px;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-decoration: none;
 }
 .watches  .product3 .details{
  font-size: 12.5px;
  margin-left: 9px;
  font-weight: 100;
 }
 .watches .product3 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
 .watches .product3 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .watches .product3 .colorDivs .black{
  background-color: black;
  border: 2px solid red;
 }
 .watches .product3 .colorDivs .skin{
  width: 18px;
  background-color: rgb(238, 227, 160);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product3 .colorDivs .mehndi{
  width: 18px;
  background-color: rgb(199, 212, 18);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product3 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.watches .product3 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.watches .product3 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.watches .product3 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.watches .product3 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.watches .product3 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.watches .product3 .btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.watches .product3 .btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
/* 4th watch product */
.watches .product4{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.watches .product4 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.watches .product4 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.watches .product4 i{
  color: red;
  right: 0;
}
.watches .product4 img{
  width: 190px;
  height: 230px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 18px;
 }
 .watches  .product4 .name{
  font-size: 22px;
  margin-left: 13px;
  margin-bottom: 15px;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-decoration: none;
 }
 .watches  .product4 .details{
  font-size: 12.5px;
  margin-left: 9px;
  font-weight: 100;
 }
 .watches .product4 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
 .watches .product4 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .watches .product4 .colorDivs .pink{
  width: 18px;
  background-color: rgb(239, 165, 213);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product4 .colorDivs .red{
  width: 18px;
  background-color: red;
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product4 .colorDivs .brown{
  width: 18px;
  background: linear-gradient(90deg, rgba(182,147,105,1) 53%, rgba(5, 5, 5, 0.774) 53%);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product4 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.watches .product4 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.watches .product4 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.watches .product4 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.watches .product4 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.watches .product4 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.watches .product4 .btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.watches .product4 .btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
/* 5th product */
.watches .product5{
  border: 0.7px solid black;
  border-radius: 60px;
  width: 18%;
  height: 95vh;
}
.watches .product5 .trend{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
}
.watches .product5 .trend h4{
  background: linear-gradient(90deg, #747aff, #ff1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right:20px ;
}
.watches .product5 i{
  color: red;
  right: 0;
}
.watches .product5 img{
  width: 190px;
  height: 230px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 18px;
 }
 .watches  .product5 .name{
  font-size: 22px;
  margin-left: 13px;
  margin-bottom: 15px;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-decoration: none;
 }
 .watches  .product5 .details{
  font-size: 12.5px;
  margin-left: 9px;
  font-weight: 100;
 }
 .watches .product4 .row{
  width: 85%;
  margin-left: 13px;
  margin-top: 10px;
 }
 .watches .product5 .colorDivs{
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
 }
 .watches .product5 .colorDivs .black{
  width: 18px;
  background-color: black;
  border: 2px solid red;
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product5 .colorDivs .mustard{
  width: 18px;
  background-color: rgb(234, 197, 73);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product5 .colorDivs .grey{
  width: 18px;
  background-color: rgb(217, 206, 206);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product5 .colorDivs .purple{
  width: 18px;
  background-color: rgb(159, 87, 241);
  height: 3vh;
  border-radius: 50%;
 }
 .watches .product5 .color{
  font-size: 14.8px;
  margin-left: 20px;
  padding: 5px;
  font-family: sans-serif;
}
.watches .product5 .price{
  margin-left: 20px;
  padding: 5px;
  font-size: 16.6px;
  font-weight: bold;
}
.watches .product5 .orignalPrice{
  display: flex;
  align-self: center;
  height: 10vh;
  width: 50%;
}
.watches .product5 .orignalPrice h4{
  font-weight: 100;
  font-size: 11.5px;
  margin-left: 23px;
  margin-top: 8px;
  text-decoration: line-through;
  color: gray;
}
.watches .product5 .orignalPrice span{
  font-weight: 800;
  margin-left: 5px;
  margin-top: -3px;
  margin-right: 5px;
}
.watches .product5 .orignalPrice p{
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.watches .product5 .btn{
  width: 45%;
  margin-left: 125px;
  margin-top: -100px;
  padding: 8px;
}
.watches .product5 .btn button{
  padding: 8px;
  height: 13vh;
  border-radius: 35px;
  background-color: #000;
  color: white;
  text-decoration: none ;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px; 
}
.warrantySec{
  width: 90%;
  border: 1px solid black;
  height: 16vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 65px;
  border-radius: 10px;
}
.warranty{
  width: 20%;
  position: relative;
  margin-left: 20px;
}
.warranty img{
  filter: brightness(0);
  display: inline;
}
.warranty p{
  position: absolute;
  font-size: 19px;
  display: inline;
  top: 15px;
  margin-left: 14px;
  font-family: monospace;
}
.replacemenet{
  width: 22%;
  position: relative;
}
.replacemenet img{
  filter: brightness(0);
  display: inline;  
}
.replacemenet p{
  position: absolute;
  font-size: 19px;
  display: inline;
  top: 15px;
  margin-left: 14px;
  font-family: monospace;
}
.shipping{
  width: 18%;
  position: relative;
  margin-left: 10px;
}
.shipping img{
  filter: brightness(0);
  display: inline;  
}
.shipping p{
  position: absolute;
  font-size: 19px;
  display: inline;
  top: 17.5px;
  margin-left: 14px;
  font-family: monospace;
}
.checkout{
  width: 20%;
  position: relative;
  margin-right: 40px;
}
.checkout img{
  filter: brightness(0);
  display: inline;  
}
.checkout p{
  position: absolute;
  font-size: 19px;
  display: inline;
  top: 17.5px;
  margin-left: 14px;
  font-family: monospace;
}
.lifeStyleDiv{
  width: 100%;
  height: 80vh;
 margin-top: 30px;
}
.lifeStyleDiv h1{
 margin-left: 35%;
 display: inline;
 font-size: 35px;
}
.lifeStyleDiv .imgs{
  width: 100%;
  height: 60vh;
  margin-top: 30px;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
}
.lifeStyleDiv .profesional{
  width: 23%;
  height: 58vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/professional.png?v=1709805282);
  background-size: cover;
  background-position: center;
}
.lifeStyleDiv .fitness{
  width: 23%;
  height: 58vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/fitness.png?v=1709805282);
  background-size: cover;
  background-position: center;
}
.lifeStyleDiv .fashion{
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/fashion.png?v=1709805282);
  width: 23%;
  height: 58vh;
  background-size: cover;
  background-position: center;
}
.lifeStyleDiv .adventure{
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/adventure.png?v=1709805282);
  width: 23%;
  height: 58vh;
  background-size: cover;
  background-position: center;
}
.Bigimg-Div{
  max-width: 100%;
  height: 120vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/FAWAD_KEYVISUALS_2.0.webp?v=1710833635);
  background-size: cover;
  background-repeat: no-repeat;
}
.offerOfDay{
  margin-top: 20px;
}
.offerOfDay h2{
  margin-left: 20px;
}
.offer{
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.Bigimg-Div{
  max-width: 100%;
  height: 80vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0722/8106/3702/files/App-banner-website_1.webp?v=1719476855);
  background-size: cover;
  background-repeat: no-repeat;
}
.stories{
  width: 100%;
  height: 70vh;
  margin-top: 30px;
}
.stories h1{
  margin-left: 38%;
  display: inline;
  font-size: 30px;
  margin-bottom: 14px;
}
.storiesDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.storiesDiv .Div1{
 width: 18%;
 margin-left: 20px;
}
.Div1 img{
  width: 95%;
  height: 27vh;
  border-radius: 11px;
  margin-bottom: 16px;
}
.Div1 h2{
  font-weight: 400;
}
.storiesDiv .Div2{
  width: 18%;
 }
.Div2 img{
   width: 95%;
   height: 27vh;
   border-radius: 11px;
   margin-bottom: 16px;
 }
.Div2 h2{
   font-weight: 400;
 }
.storiesDiv .Div3{
  width: 18%;
 }
.Div3 img{
   width: 95%;
   height: 27vh;
   border-radius: 11px;
   margin-bottom: 16px;
 }
.Div2 h3{
   font-weight: 400;
 }
.storiesDiv .Div4{
  width: 18%;
 }
.Div4 img{
   width: 95%;
   height: 27vh;
   border-radius: 11px;
   margin-bottom: 16px;
 }
.Div4 h3{
   font-weight: 400;
 }
.storiesDiv .Div5{
  width: 18%;
 }
.Div5 img{
   width: 95%;
   height: 27vh;
   border-radius: 11px;
   margin-bottom: 16px;
 }
.Div5 h3{
   font-weight: 400;
 }
.butn{
 margin-top: 30px;
 padding: 13px 65px ;
 margin-left: 40%;
 border-radius: 40px;
 color: white;
 background-color: #000;
 font-size: 16px;
 border: 0;
}
.description{
  width: 100%;
  height: 137vh;
}
.description h3 , p {
  width: 98%;
}
.signup{
  width: 100%;
  height: 25vh;
  background-color: black;
  position: absolute;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.signup .left{
  width: 50%;
  height: 23vh;
  color: white;
}
.left h1{
  margin-left: 50px;
  margin-top: 40px;
}
.left h3{
  margin-left: 50px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 6px;
}
.signup .right{
  width: 50%;
  height: 23vh;
}
.right input{
  margin-left: 25px;
  margin-top: 35px;
  padding: 10px 38px;
  height: 8.5vh;
  width: 70%;
  background-color: grey;
  border: 1px solid white;
  z-index: 100;
}
.right input::placeholder{
  color: white;
  font-size: 17px;
}
.right .button{
  width: 20%;
  padding: 17px 18px;
  height:8.9vh;
  margin-left: -4px;
  background-color: red;
  color: white;
  border: none;
  z-index: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer{
  width: 100%;
  height: 60vh;
  background-color: #747aff;
  margin-top:20% ;
}